./audio
./video
./vrew
__pycache__
face_image
result
diarization
./pinmic_to_transcript*
./reports
./co_occurrence
./diarization
./model
/datasets/
/utils/detect_face_old.csv
/utils/test.mp4

# honda
*.mp4
*.avi
.ipynb_checkpoints
openface/output
openface_preprocess/data
openface_honda